
/*    Daniel da Rocha Fróes 10255956*/
/*    Gabriel Santos Nicolau 10684600*/
/*    Kaio Tadeu Rodrigues 7561083*/

.calendar {
  #input-bar{
    padding:0;
  }
  #input-bar h2{
    width: 70%;
    color: white;
    text-align: center;
    padding-top:0.5em;
    padding-bottom: 0.5em;
    
  }

  #input-bar .box{
    /* margin-right: 1em; */
    width: 15%;
    text-align-last: center;
    font-size: 18px;
    color: #777;
    /* font-weight: bold; */
    padding-top:0.5em;
    padding-bottom: 0.5em;
    background-color:#eee;
    border:none;  
    /* border-radius: 0.8em; */
  }

  #input-bar option
  {
    text-align: center;
  }



  /* ####################################################################################################################### */

  /* ####################################################################################################################### */

  .bg-darker{
    
    background-color:  #ddd;
    border-top: 2px solid #919191;
    
  }
  .bg-lighter{
    background-color: #fff;
  }

  #activities-list{
    margin-right: 15%;
    margin-left:15%;
  }

  #activities-list h2{
    text-align: center;

  }



  // @media only screen and (max-width: 850px){
    
  //   #input-bar .box{
  //   /* margin-right: 1em; */
  //   width:65%;
  //   text-align-last: center;
  //   font-size: 18px;
  //   color: #777;
  //   /* font-weight: bold; */
  //   padding-top:0.5em;
  //   padding-bottom: 0.5em;
  //   background-color:#eee;
  //   border:none;  
  //   /* border-radius: 0.8em; */
  // }
  //   .activity-card
  //   {
  //     display: flex;
  //     flex-direction: column;
  //   }

  //   .hour-section{
  //     width: 100%;
  //     text-align: center;
  //     box-shadow: 0 1px 2px  #919191;
  //     padding-bottom: 0;
  //     padding-top: 0;
  //   }
  //   .info{
        
  //       display: flex;
  //       flex-direction: column;
  //       /* justify-content: space-between; */
  //       width: 100%;
        
  //   }
  //   .info .column{
  //     width: 100%;
  //     text-align: center;
  //   }
    
  //   .info .select-pet{
  //     margin-top: 1em;
      
  //     text-align-last: center;
  //     height: 3em;
  //   } 

  //   .info .description{
  //     width: 100%;
  //     text-align: left;
  //     margin-top: 1em;
  //     margin-bottom: 1em;
  //   }

  //   .info .schedule-button{
  //     width: 80%;
  //     margin-left: 10%;

  //     height: 2em;
  //   }
  // }
}