
/*    Daniel da Rocha Fróes 10255956*/
/*    Gabriel Santos Nicolau 10684600*/
/*    Kaio Tadeu Rodrigues 7561083*/

.calendar {
  #input-bar{
    padding:0;
  }
  #input-bar h2{
    width: 70%;
    color: white;
    text-align: center;
    padding-top:0.5em;
    padding-bottom: 0.5em;
    
  }

  #input-bar .box{
    /* margin-right: 1em; */
    width: 15%;
    text-align-last: center;
    font-size: 18px;
    color: #777;
    /* font-weight: bold; */
    padding-top:0.5em;
    padding-bottom: 0.5em;
    background-color:#eee;
    border:none;  
    /* border-radius: 0.8em; */
  }

  #input-bar .date-box {
    // padding-left: 3px;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #1C4545;
    // padding: 20px;
    // border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
  }

  #input-bar .gradient {
    $dark: #1C4545;
    $light: #377973;
    background: $light;
    background: -moz-linear-gradient(
      top,
      $light 0%,
      $dark 100%
    );
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, $light),
      color-stop(100%, $dark)
    );
    background: -webkit-linear-gradient(
      top,
      $light 0%,
      $dark 100%
    );
    background: -o-linear-gradient(
      top,
      $light 0%,
      $dark 100%
    );
    background: -ms-linear-gradient(
      top,
      $light 0%,
      $dark 100%
    );
    background: linear-gradient(
      to bottom,
      $light 0%,
      $dark 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1a1a1', endColorstr='#848484',GradientType=0 ); /* IE6-9 */
  }

  #input-bar .date-box:hover {
    background: #377973;
    letter-spacing: 0.5px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.6s ease 0s;
  }

  #input-bar option
  {
    text-align: center;
  }



  /* ####################################################################################################################### */

  /* ####################################################################################################################### */

  .bg-darker{
    
    background-color:  #ddd;
    border-top: 2px solid #919191;
    
  }
  .bg-lighter{
    background-color: #fff;
  }

  #activities-list{
    margin-right: 15%;
    margin-left:15%;
  }

  #activities-list h2{
    text-align: center;

  }



  // @media only screen and (max-width: 850px){
    
  //   #input-bar .box{
  //   /* margin-right: 1em; */
  //   width:65%;
  //   text-align-last: center;
  //   font-size: 18px;
  //   color: #777;
  //   /* font-weight: bold; */
  //   padding-top:0.5em;
  //   padding-bottom: 0.5em;
  //   background-color:#eee;
  //   border:none;  
  //   /* border-radius: 0.8em; */
  // }
  //   .activity-card
  //   {
  //     display: flex;
  //     flex-direction: column;
  //   }

  //   .hour-section{
  //     width: 100%;
  //     text-align: center;
  //     box-shadow: 0 1px 2px  #919191;
  //     padding-bottom: 0;
  //     padding-top: 0;
  //   }
  //   .info{
        
  //       display: flex;
  //       flex-direction: column;
  //       /* justify-content: space-between; */
  //       width: 100%;
        
  //   }
  //   .info .column{
  //     width: 100%;
  //     text-align: center;
  //   }
    
  //   .info .select-pet{
  //     margin-top: 1em;
      
  //     text-align-last: center;
  //     height: 3em;
  //   } 

  //   .info .description{
  //     width: 100%;
  //     text-align: left;
  //     margin-top: 1em;
  //     margin-bottom: 1em;
  //   }

  //   .info .schedule-button{
  //     width: 80%;
  //     margin-left: 10%;

  //     height: 2em;
  //   }
  // }
}

// body {
//   background-color: #f0f0f0;
// }
// .wrapper {
//   background-color: #fff;
//   margin: 50px;
//   padding: 20px;
//   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
// }
// .center {
//   margin-bottom: 40px;
//   display: flex;
//   justify-content: center;
//   height: 50px;
// }

// .button-wrap {
//   margin-right: 25px;
// }
// .rad-button {
//   white-space: nowrap;
//   top: 0px;
//   border-radius: 4px;
//   position: relative;
//   border: none;
//   background: none;
//   font-family: "Roboto", sans-serif;
//   width: 200px;
//   height: 50px;
//   cursor: pointer;
//   transition: 0.1s all ease;
//   font-size: 16px;
//   font-weight: 300;
//   color: #777;
//   border-bottom: 1px solid #ccc;
//   box-shadow: 0px 0px 0px 0px #b8b8b8;

//   &.flat {
//     background: #f0f0f0;
//   }

//   &.small {
//     //flat small
//     width: 150px;
//     height: 35px;
//     &:hover {
//       top: -1px !important;
//       height: 36px !important;
//     }
//     &:active {
//       top: 0px !important;
//       height: 35px !important;
//     }
//   }

//   &.xsmall {
//     //flat xsmall
//     width: 100px;
//     height: 25px;
//     font-size: 10px;

//     &:hover {
//       border-bottom: 3px solid #ccc;
//       top: 0px;
//       height: 25px;
//     }

//     &:active {
//       height: 25px !important;
//       border-bottom: 0px !important;
//     }
//   }

//   &.gradient {
//     background: #f0f0f0; /* Old browsers */
//     background: -moz-linear-gradient(
//       top,
//       #f0f0f0 0%,
//       #e0e0e0 100%
//     ); /* FF3.6+ */
//     background: -webkit-gradient(
//       linear,
//       left top,
//       left bottom,
//       color-stop(0%, #f0f0f0),
//       color-stop(100%, #e0e0e0)
//     ); /* Chrome,Safari4+ */
//     background: -webkit-linear-gradient(
//       top,
//       #f0f0f0 0%,
//       #e0e0e0 100%
//     ); /* Chrome10+,Safari5.1+ */
//     background: -o-linear-gradient(
//       top,
//       #f0f0f0 0%,
//       #e0e0e0 100%
//     ); /* Opera 11.10+ */
//     background: -ms-linear-gradient(top, #f0f0f0 0%, #e0e0e0 100%); /* IE10+ */
//     background: linear-gradient(to bottom, #f0f0f0 0%, #e0e0e0 100%); /* W3C */
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
//   }

//   &.dark {
//     border-bottom: 1px solid #5e5e5e;
//     color: #f5f5f5;
//     &.flat {
//       background: #a1a1a1;
//     }

//     &.gradient {
//       background: #a1a1a1; /* Old browsers */
//       background: -moz-linear-gradient(
//         top,
//         #a1a1a1 0%,
//         #848484 100%
//       ); /* FF3.6+ */
//       background: -webkit-gradient(
//         linear,
//         left top,
//         left bottom,
//         color-stop(0%, #a1a1a1),
//         color-stop(100%, #848484)
//       ); /* Chrome,Safari4+ */
//       background: -webkit-linear-gradient(
//         top,
//         #a1a1a1 0%,
//         #848484 100%
//       ); /* Chrome10+,Safari5.1+ */
//       background: -o-linear-gradient(
//         top,
//         #a1a1a1 0%,
//         #848484 100%
//       ); /* Opera 11.10+ */
//       background: -ms-linear-gradient(
//         top,
//         #a1a1a1 0%,
//         #848484 100%
//       ); /* IE10+ */
//       background: linear-gradient(
//         to bottom,
//         #a1a1a1 0%,
//         #848484 100%
//       ); /* W3C */
//       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1a1a1', endColorstr='#848484',GradientType=0 ); /* IE6-9 */
//     }

//     &:hover {
//       //dark hover
//       background-color: #ababab;
//       top: -2px;
//       border-bottom: 4px solid #727272;
//       height: 52px;
//       box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
//       &.xsmall {
//         //dark small
//         border-bottom: 3px solid #727272;
//         top: 0px;
//         height: 25px;
//       }
//     }
//     &:active {
//       //dark active
//       top: 0px;
//       height: 50px;
//       border: 1px solid #727272;
//       background-color: #8e8e8e;
//       box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
//     }
//   }

//   &:focus {
//     outline: 0;
//   }

//   &:hover {
//     //primary hover
//     background-color: #f5f5f5;
//     top: -2px;
//     height: 52px;
//     border-bottom: 4px solid #ccc;
//     box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
//     &.static {
//       top: 0px;
//       height: 50px;
//     }
//   }

//   &:active {
//     //primary active
//     top: 0px;
//     height: 50px;
//     border: 1px solid #ccc;
//     background-color: #ededed;
//     box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
//   }

//   &.warning {
//     background-color: #f3eac5;
//     color: #bd8d32;
//     border-bottom: 1px solid #bcb496;
//     &:hover {
//       background-color: #faf5df;
//       top: -2px;
//       border-bottom: 4px solid #bcb496;
//       box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
//     }
//     &:active {
//       top: 0px;
//       border: 1px solid #bcb496;
//       background-color: #e6dcb5;
//       box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
//     }
//   }

//   &.danger {
//     background-color: #e7a796;
//     color: #7b5348;
//     border-bottom: 1px solid #7b5348;
//     &:hover {
//       background-color: #f2beb1;
//       top: -2px;
//       border-bottom: 4px solid #7b5348;
//       box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
//     }
//     &:active {
//       top: 0px;
//       border: 1px solid #7b5348;
//       background-color: #d69280;
//       box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
//     }
//   }

//   &.good {
//     background-color: #b9e9ce;
//     color: #759f87;
//     border-bottom: 1px solid #759f87;
//     &:hover {
//       background-color: #caf3db;
//       top: -2px;
//       border-bottom: 4px solid #759f87;
//       box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
//     }
//     &:active {
//       top: 0px;
//       border: 1px solid #759f87;
//       background-color: #a5dabc;
//       box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
//     }
//   }

//   &.wwt {
//     background-color: #32699b;
//     color: #dbe9f5;
//     border-bottom: 1px solid #1a4164;
//     &:hover {
//       background-color: #427bae;
//       top: -2px;
//       border-bottom: 4px solid #1a4164;
//       box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
//     }
//     &:active {
//       top: 0px;
//       border: 1px solid #1a4164;
//       background-color: #255988;
//       box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
//     }
//   }
// }
